body {
    background-color: skyblue;
    font-family: 'Roboto Slab', serif;
}
.box{
    border: 3px solid purple;
    margin-right: 50vw;
    padding: 10px;
    background-color: beige;
    text-transform: capitalize;
}


.header{
    font-weight: 600;
    text-shadow: white 1px 0 10px;
    text-align: center;
    margin-bottom: 100px;

}
.data{
    margin-left: 20vw;
}

h2{
    font-weight: 400;
}
h3{
    font-weight: 100;
}

